<div class="row">
    <div class="col-6 col-sm-6 col-lg-12">
        <h2>{{ title }}</h2>
        <h5>added {{ formatDate date }}</h5>
        <div id="content">{{{content}}}</div>
    </div>
</div>
<hr>